name: FROM_MAIN_BRANCH_FORKED_PR

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  name: from-main-branch-checkout
  run-script:
    runs-on: ubuntu-latest

    steps:
      # Checkout the pull request code
      - name: Checkout PR code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      # Run main.sh script from the pull request
      - name: Run main.sh
        run: |
          cat ./main.sh
  name: from-main-branch-default-checkout
  run-script:
    runs-on: ubuntu-latest

    steps:
      # Checkout the pull request code
      - name: Checkout PR code
        uses: actions/checkout@v3

      # Run main.sh script from the pull request
      - name: Run main.sh
        run: |
          cat ./main.sh
