name: MAIN_BRANCH_FORKED_PR

on:
  pull_request:
    

jobs:
    main-checkout-prcode:
      runs-on: ubuntu-latest

      steps:
        # Checkout the pull request code
        - name: Checkout PR code
          uses: actions/checkout@v3
          with:
            ref: ${{ github.event.pull_request.head.ref }}
            repository: ${{ github.event.pull_request.head.repo.full_name }}

        # Run main.sh script from the pull request
        - name: Run main.sh
          run: |
            echo "I am the action on MAIN branch"
            cat ./main.sh
    main-checkout-default-branch:
      runs-on: ubuntu-latest

      steps:
        # Checkout the pull request code
        - name: Checkout PR code
          uses: actions/checkout@v3

        # Run main.sh script from the pull request
        - name: Run main.sh
          run: |
            echo "I am the action on MAIN branch"
            cat ./main.sh
